@mixin margin{
    width:1190px;margin:0 auto;
}

@font-face {
    font-family: 'iconfont';  /* project id 1220718 */
  src: url('//at.alicdn.com/t/font_1220718_44ilbjx7s74.eot');
  src: url('//at.alicdn.com/t/font_1220718_44ilbjx7s74.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1220718_44ilbjx7s74.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1220718_44ilbjx7s74.woff') format('woff'),
  url('//at.alicdn.com/t/font_1220718_44ilbjx7s74.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1220718_44ilbjx7s74.svg#iconfont') format('svg');
  }

  .iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

    #head{
        .top{
            width:100%;
            height:32px;
            background:#f6f6f6;
            font:12px/32px "";
            border:1px solid #d9d9d7;
            .margin{
                @include margin;
                .top-l{float: left;}
                .top-r{float:right;
                a{padding:0 5px;
                i{margin-right:3px;}
                }
                .jian{color: #d0d0d0}
                }
            }
        }
        .header{
            @include margin;
            margin-top:10px;
            height:82px;
            .logo{
                float:left;
            }
            
            .seach{margin:12px 0 0 120px;
                float:left;
                height: 34px;
                border: 3px solid #f12e24;
                input:nth-child(1){
                    height:34px;width:450px;float: left;outline:none;border:none;padding-left:8px;
                }
                #btn{
                    height:34px;width:82px;float: left;border:none;outline:none;
                    background: #f12e24;color: #fff;font-size:16px;
                }
                ul{
                li{height:24px;float: left;margin:0 8px 0 3px;font:12px/2 "";
                .red{color:red;}
                &:last-child{float:right}
                }
                }
            }
            .new{margin-left:17px;display: inline;}
        }
    }

    #content{
        // .milk{margin:20px auto;text-align:center;width:748px;display:flex;justify-content:space-between;flex-wrap:wrap;
        //     li{border:1px solid #e8e6e6;width:220px;height:305px;padding:8px;background: #fff;
        //     &:hover{border:1px solid #f12e24;}
        //     &.no{margin-top:15px}
        //     a{display:block;
        //     img{width:100%;height:auto;}
        //     }
        //     .shang{font:14px/18px "";height:36px;margin:12px 0 8px 0;padding-left:5px;
        //     a{color:#2c2c2c;}
        //     }
        //     span{font-size:16px;color:#ea0505;padding-top:10px;font-weight: bold;}
        //     }
        // }
        width: 80%;
        height: 500px;
        margin: 10px auto;
        position: relative;
        li{list-style: none;}
        .sbox{width:400px;height:300px;position:absolute;left:50px;}
        .sbox img{width:400px;height:300px;display: none;}
        .sbox img:nth-child(1){display: block;}
        .sbox span{width:100px;height:75px;position:absolute;left:0;top:0;background: rgba(200,200,200,0.6);display: none;}
        .title_price{width: 400px;height: 200px;position: absolute;left: 500px;top:30px;}
        .title_price h3{width: 100%;height: 50px;line-height: 50px; }
        .title_price p{width: 100%;height: 50px;line-height: 50px; color:red;text-align: right;}
        .bbox{width:400px;height:300px;position:absolute;left:500px;overflow: hidden;display: none;}
        .bbox img{width:1600px;height:1200px;position:absolute;display: none;}
        .bbox img:nth-child(1){display: block;z-index: 4;} 
        .bbox img:nth-child(2){display: block;z-index: 3;} 
        .bbox img:nth-child(3){display: block;z-index: 2;} 
        .bbox img:nth-child(4){display: block;z-index: 1;} 

        ul li{width:80px;height:80px;float:left;margin:320px 50px 20px}
        ul li.active{border:2px solid #000}
        ul li img{width:80px;height:80px;}
    }
    #footer{position: relative;margin-top:20px;
        .margin{
            @include margin;
            .foot-top{height:170px;padding-top:14px;
                .menu{width:838px;float: left;
                .f-list{width:115px;margin-left:20px;float: left;text-align: center;
                    .title-1{text-align: center;
                        span{font-size:29px;color:#6d7177;}
                    }
                    ul{
                        .title{font:600 14px/25px "";color: #505966;height:25px;}
                        li{height:20px;
                            a{color:#6d7177;font:14px/20px "";}
                        }
                    }
                }
                }
                .foot-top-r{float: left;height: 147px;width:338px;border:1px solid #d9d9d9;margin-left: 10px;
                .gonggao{line-height:29px;margin:5px 0;height:29px;color:#505966;
                h4{float: left;font-size:14px;margin-left: 13px;}
                .gun{float: left;height:29px;width:212px;margin-left:10px;a{color:#4a9bd6;}}
                .more{float: left;color: #505966;margin-left:12px;}
                }
                .tu{float: left;margin-left:9px;}
            }
            }
            .footer-b{border-top: 3px solid #5c686e;height: auto;margin-top: 10px;padding-top: 20px;position: relative;
            .zlogo{position: absolute;width:170px;height:42px;left:0;
                img{width:126px;height:100%;}
                span{font-size:12px;color: #82888b;margin:8px;}
            }
            .foot-text{color:#82888b;text-align: center;padding:2px 0;
            a{color:#333;}
            }
            .icon-f{display:flex;justify-content:center;align-items:center;
                li{display: inline;margin-right:15px;}
            }
            }
        }
    }